@import './variables';
@import './extends';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alkalami', serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  @extend %flex-all-center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('../images/bg_image.jpg');
  
  h1 {
    text-align: center;
  }

  @media (max-width: 340px) {
    line-height: 3rem;
  }

  .content {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding: 10px;

    .closeMark {
      position: absolute;
      top: -7px;
      right: -20px;
      font-size: 30px;
      cursor: pointer;
    }

    .diceWrapper {
      @extend %dice-shared;
      cursor: pointer;

      .diceField {
        @extend %flex-all-center;
        width: 100px;
        height: 100px;
        border: 2px solid black;
        border-radius: 15%;
        color: #fff;
        font-size: 30px;
        box-shadow: 0px 13px 15px -7px rgb(66, 68, 90);

        p {
          padding-top: 15px;
        }

        &.k4 {
          background: rgb(0,0,0);
          background: linear-gradient(142deg, rgba(0,0,0,1) 0%, rgba(233,68,69,0.9400092800792192) 100%);   
        }

        &.k6 {
          background: rgb(0,0,0);
          background: linear-gradient(142deg, rgba(0,0,0,1) 0%, rgba(38,76,94,1) 100%); 
        }

        &.k8 {
          background: rgb(0,0,0);
          background: linear-gradient(142deg, rgba(0,0,0,1) 0%, rgba(163,76,80,1) 100%); 
        }

        &.k10 {
          background: rgb(0,0,0);
          background: linear-gradient(142deg, rgba(0,0,0,1) 0%, rgba(206,194,174,1) 100%); 
        }

        &.k12 {
          background: rgb(0,0,0);
          background: linear-gradient(142deg, rgba(0,0,0,1) 0%, rgba(74,41,50,1) 100%); 
        }

        &.k20 {
          background: rgb(0,0,0);
          background: linear-gradient(142deg, rgba(0,0,0,1) 0%, rgba(232,68,60,1) 100%); 
        }

        &.k100 {
          background: rgb(0,0,0);
          background: linear-gradient(142deg, rgba(0,0,0,1) 0%, rgba(148,79,44,1) 100%); 
        }
      }

      .btn {
        width: 100%;
        margin: 10px;
        font-size: 15px;
        color: #000;
        border: 2px solid #fff;
        border-radius: 10px;
        padding: 12px 5px 5px 5px;
        background: #fff;
        cursor: pointer;
        transition: .5s ease-in-out;

        &:hover{
          border: 2px solid #000;
        }

      }
    }   

  }

}

//Utlility Classes

.inactive {
  display: none !important;
}

